/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}





body {
    background-color: #dddddd;
  }
  


  .span {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1816px;
    width: 95%;
    margin: auto;
  }

  .watermark {
    font-size: 33px;
    font-family: extrabold;
  }
  .dot {
    color: #0081ff;
  }
  .Resume {
    color: #b3b3b3;
    font-size: 13px;
  }
  .aboutme :nth-child(1) {
    font-size: 158.3px;
    font-family: extrabold;
    position: relative;
  }
  .aboutme :nth-child(2) {
    font-size: 43.17px;
    color: #373737;
    font-family: extrabold;
    position: absolute;
    text-align: center;
    top: 8%;
    right: 1%;
  }
  
  /*slideris fontebi  */
  
  .icon {
    max-width: 30px;
    margin: 5px;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
    max-width: 1815px;
    width: 95%;
    margin: auto;
  }
  .description :first-child {
    font-size: 50px;
    font-family: glaciaregular;
    letter-spacing: 0.50px;
    color: #212121;
  }
  .description :nth-child(2) {
    font-size: 50px;
    font-family: glaciabold;
    letter-spacing: 1.06px;
    color: #212121;
  }
  .description :nth-child(3) {
    font-size: 23.29px;
    font-family: glaciaregular;
    color: #212121;
  }
  
  .slide div img {
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.7s;
  }
  .slide.active div img {
    width: auto;
    height: auto;
    opacity: 1;
    padding: 20px;
  }
  .clients {
    float: right;
    margin-right: 10px;
  }
  .clients :first-child {
    font-size: 24px;
    font-family: montserratbold;
    color: #e93656;
  }
  .clients :nth-child(2) {
    font-size: 24px;
    font-family: montserratbold;
  }
  .clients :nth-child(3) {
    width: 340px;
    min-height: 6px;
    background-color: #f33c5b;
    margin-top: 24px;
  }


  
  /*second page */


  .hire-me {
    flex-direction: column;
    display: flex;
    align-items: end;
    gap: 30px;

  }
  .hire-me h2 {
    font-family: glaciabold;
    color: #222222;
    font-size: 40px;

  }
  .hire-me span {
    color: hsl(46, 82%, 52%);
    font-family: muli;
    font-size: 14px;

  }
  .hire-me p {
    color: #555555;
    max-width: 300px;
    font-family: muliregular;
    text-align: right;
    font-size: 15px;

  }
  .hire-me div {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #e93656;
    color: white;
    font-family: glaciabold;
    max-width: 152px;

  }
  .block img {
    max-height: 400px;
    max-width: 430px;

  }
  
  .block {
    gap: 40px;
    padding: 135px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-wrap: wrap;
  }


 
  .link div {
    font-size: 18px;
    color: black;
    padding: 10px 15px;
    font-family: glaciabold;

  }
  .link:hover {
    background-color: #15263e;
  }
  .link div:hover {
    color: #dddddd;
  }

  .progress {
    height: 9px;
    width: 300px;

    background-color: #f0f0f0;
  }
  .progress-results {
    height: 100%;
    background-color: #e93656;
    transition: all 4s;
    width: 0%;
    opacity: 0;


  }
  .bar span {
    font-size: 20px;
    font-family: glaciabold;
  }
  .bar :nth-child(2) {
    color: #e93656;
  }
  .bar {
    margin: 23px;
  }
  .block-2 {
    margin-top: 12px;
  }
  .social-links {
    gap: 10px;
    margin-left: 25px;
    margin-top: 70px;
    display: flex;

  }
  
 