/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}





body {
    background-color: #dddddd;
  }
  


  .span {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1816px;
    width: 95%;
    margin: auto;
  }

  .watermark {
    font-size: 33px;
    font-family: extrabold;
  }
  .dot {
    color: #0081ff;
  }
  .Resume {
    color: #b3b3b3;
    font-size: 13px;
  }
  .aboutme :nth-child(1) {
    font-size: 158.3px;
    font-family: extrabold;
    position: relative;
  }
  .aboutme :nth-child(2) {
    font-size: 43.17px;
    color: #373737;
    font-family: extrabold;
    position: absolute;
    text-align: center;
    top: 8%;
    right: 1%;
  }
  
  /*slideris fontebi  */
  
  .icon {
    max-width: 30px;
    margin: 5px;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: center;
    margin-bottom: 100px;
    max-width: 1815px;
    width: 95%;
    margin: auto;
  }
  .description :first-child {
    font-size: 50px;
    font-family: glaciaregular;
    letter-spacing: 0.50px;
    color: #212121;
  }
  .description :nth-child(2) {
    font-size: 50px;
    font-family: glaciabold;
    letter-spacing: 1.06px;
    color: #212121;
  }
  .description :nth-child(3) {
    font-size: 23.29px;
    font-family: glaciaregular;
    color: #212121;
  }
  
  .slide div img {
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.7s;
  }
  .slide.active div img {
    width: auto;
    height: auto;
    opacity: 1;
    padding: 20px;
  }
  .clients {
    float: right;
    margin-right: 10px;
  }
  .clients :first-child {
    font-size: 24px;
    font-family: montserratbold;
    color: #e93656;
  }
  .clients :nth-child(2) {
    font-size: 24px;
    font-family: montserratbold;
  }
  .clients :nth-child(3) {
    width: 340px;
    min-height: 6px;
    background-color: #f33c5b;
    margin-top: 24px;
  }


  
  /*second page */


  .hire-me {
    flex-direction: column;
    display: flex;
    align-items: end;
    gap: 30px;

  }
  .hire-me h2 {
    font-family: glaciabold;
    color: #222222;
    font-size: 40px;

  }
  .hire-me span {
    color: hsl(46, 82%, 52%);
    font-family: muli;
    font-size: 14px;

  }
  .hire-me p {
    color: #555555;
    max-width: 300px;
    font-family: muliregular;
    text-align: right;
    font-size: 15px;

  }
  .hire-me div {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #e93656;
    color: white;
    font-family: glaciabold;
    max-width: 152px;

  }
  .block img {
    max-height: 400px;
    max-width: 430px;

  }
  
  .block {
    gap: 40px;
    padding: 135px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-wrap: wrap;
  }


 
  .link div {
    font-size: 18px;
    color: black;
    padding: 10px 15px;
    font-family: glaciabold;

  }
  .link:hover {
    background-color: #15263e;
  }
  .link div:hover {
    color: #dddddd;
  }

  .progress {
    height: 9px;
    width: 300px;

    background-color: #f0f0f0;
  }
  .progress-results {
    height: 100%;
    background-color: #e93656;
    transition: all 4s;
    width: 0%;
    opacity: 0;


  }
  .bar span {
    font-size: 20px;
    font-family: glaciabold;
  }
  .bar :nth-child(2) {
    color: #e93656;
  }
  .bar {
    margin: 23px;
  }
  .block-2 {
    margin-top: 12px;
  }
  .social-links {
    margin-left: 25px;
    margin-top: 70px;
    display: flex;
    gap: 10px;

  }

  .dottedoutline:hover {
    background-color: #f33b5d;
    border: none;
  }
  
 
  .aboutusinfo {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #131a36;
    gap: 39px;
    display: flex;

  }
  .dottedoutline {
    max-width: 100px;
    border: 1px dashed white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contactinfo img {
    padding: 30px;
  }
 
  .postmark {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }
  .postmark h3 {
    font-size: 25px;
    font-family: glaciabold;
    color: #ffffff;
    margin-bottom: 5px;
  }
  .postmark a {
    color: #dfdfdf;
    font-size: 14px;
    font-family: muli;
    letter-spacing: 0.42px;

  }


  
  
  .contactinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-top: 55px;
    margin-bottom: 55px;
  }



  /* boxes */


  .block-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    gap: 11px;
  }

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 200px;
    background-color: #ffff;

  }
  
  .box {
    display: flex;
    flex-wrap: wrap;
    max-width: 285px;
    min-height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 285px;
    gap: 15px;
    background-color: #fafafa;
    border: 1px solid rgb(230, 220, 220);
  }
  .box img {
    max-width: 50px;
  }
  .box h3 {
    font-size: 20px;
    font-family: glaciabold;
    color: #222222;
    opacity: 1;
    }
    
    .box:hover h3 {
      color: #FFFFFF; 
    }

  
  .box:hover {
    border: none;
    color: #ececec;
    background-color: #15263e;
    font-size: 14px;
    font-family: muli;
  }
 


  
  
  /* Style for the dynamically created paragraph elements */
.additional-text {
  font-size: 14px;
  color: #ECECEC;
  padding-left: 10px;
  padding-right: 10px;
  

}

 
  /* recomendations */
.recomendation {
  background-image: url(../assets/img/pagebackground.jpg);
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recomendation :first-child {
  display: flex;
  align-items: center;
  gap: 50px;
}
.recomendation p {
  max-width: 497px;
}
.example {
  width: 170px;
  height: 170px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7accc800;
}

.button {
  width: 13px;
  height: 13px;
  border: 2px solid #ffffff;
  margin-bottom: 15px;
}
.button:hover {
  border: 2px solid #e93656;
}
.js-squares-parent {
  margin-left: 90px;
}


  /*latest projects */


  .projects-hover {
    display: none;
  }
  
  .projects-hover-block {
    display: none;
  }

  .Last-projects {
    padding-top: 140px;
    padding-bottom: 160px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Last-projects h2 {
    text-align: center;
    font-size: 35px;
    padding: 20px;

  }

  

  .undertakings-heading {
    max-width: 645px;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .undertakings-external {
    max-width: 1170.01px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .undertakings-controls {
    max-width: 240px;
    width: 100%;
    margin: 5px;
    min-height: 401px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #15263e;
  }
  .undertakings-controls button {
    border: none;
    background-color: #15263e;
    font-family: "Glacia-Bold";
    color: #ffffff;
    font-size: large;
    margin-top: 10px;
  }
  .undertakings-controls button:hover {
    color: #e93656;
  }
  .undertakings-controls button::after {
    height: 2px;
    width: 100px;
    background-color: #e93656;
  }

  .undertakings-all {
    max-width: 900px;
    width: 100%;
    display: flex;
    gap: 1px;
    flex-direction: column;
    align-items: center;
  }
  .undertaking-lines {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .task-article,
  .design-post,
  .demonstration-post {
    max-width: 300px;
    width: 100%;
    min-height: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    font-family: "Mul";
    color: #ffffff;
  }
  .job-concepts,
  .mockup-design,
  .psd-creation,
  .brand-symbol,
  .presentation-slide,
  .symbols p {
    max-width: 194px;
  }
  .prototype-post,
  .brand-post,
  .symbol-post {
    max-width: 300px;
    width: 100%;
    min-height: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #848484;
    font-family: "Mul";
    color: #ffffff;
  }
  .filter-option.actual {
    color: #e93656;
  }
  
  .projects-hover-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects-hover-block img {
    padding: 20px;
    border: 2px solid #e93656;
    border-radius: 40px;
  }
  .projects-hover-block p {
    padding-top: 17px;
    padding-bottom: 7px;
    font-size: small;
    font-family: "Mul";
    max-width: 90px;

  }

  .projects-hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .undertaking-lines article:hover {
    background-color: #000000;
  }

  .undertaking-lines article:hover article {
    display: block;
    background-color: #000000;
  }
  
  .projects-hover-block h3 {
    font-family: "Glacia-Bold";
  }
  .undertaking-lines article:hover div {
    display: none;
  }
  
  
  